{% extends 'base.html.twig' %}
{% block pageActions %}
    <a class="btn btn-default" href="{{ path('app_ical') }}">{{"Export"|trans }}</a>
{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
        </div>
    </div>
{% endblock %}
