{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block pageHeader %}Event edit{% endblock %}
{% block body %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <div class="pull-right">
        <a  href="{{ path('contact_index') }}" class="btn btn-default">Back</a>
        <input  class="btn  btn-accept" type="submit" value="Edit" />
    </div>

    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    {% include 'includes/date_picker_init.html.twig' %}
{% endblock %}