{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block pageHeader %}Contacts creation{% endblock %}
{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}

    <div class="pull-right">
        <a  href="{{ path('contact_index') }}" class="btn btn-default">Back</a>
        <input  class="btn  btn-accept" type="submit" value="Create" />
    </div>


    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {% include 'includes/date_picker_init.html.twig' %}
{% endblock %}
